@use "main";
@use "./sizes.scss" as *;

.navigateMenu {
    @include navigateMenuWidth;
    @include naviageMenuHeight;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    border-radius: 3px;
}

.item {
    @include main.center-content;
}

.itemContent {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.icon, .children {
    display: inline-block;
}

.icon {
    @include main.smMdScreen {
        font-size: 24px;
    }
    @include main.lgScreen {
        font-size: 30px;
    }
}

.children {
    @include main.smMdScreen {
        font-size: 12px;
    }
    @include main.lgScreen {
        font-size: 18px;
    }
}

.underline {
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: black;
}