@use "main";
@use "./sizes.scss" as *;

.navigateMenu {
    @include navigateMenuHeight;
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid black;
    border-radius: 3px;
}

.upContainer {
    @include main.center-content;
    position: relative;
    padding: 0 20px;
}

.border {
    position: absolute;
    top: 5%;
    right: 0;
    width: 1px;
    height: 90%;
    background-color: black;
}

.categoryContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.verticalLineContainer {
    @include main.center-content;
    padding-left: 10px;
}

.item {
    @include main.center-content;
}

.itemContent {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.icon, .children {
    display: inline-block;
}

.icon {
    @include main.smMdScreen {
        font-size: 24px;
    }
    @include main.lgScreen {
        font-size: 30px;
    }
}

.children {
    @include main.smMdScreen {
        font-size: 12px;
    }
    @include main.lgScreen {
        font-size: 18px;
    }
}

.underline {
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: black;
}

.disableUpLevel {
    pointer-events: none;
    cursor: none;
    color: grey;
}