@use "main";

@mixin navigateMenuWidth {
    width: min(95%, 800px);
}

@mixin navigateMenuHeight {
    @include main.smMdScreen {
        height: 60px;
    }
    @include main.lgScreen {
        height: 70px;
    }
}