@use "main";

@mixin navigateMenuWidth {
    width: min(95%, 800px);
}

@mixin navigateMenuHeight {
    @include main.smMdScreen {
        height: 60px;
    }
    @include main.lgScreen {
        height: 70px;
    }
}

@mixin navigateMenuHeightPartial {
    @include main.smScreen {
        height: 50px;
    }
    @include main.mdScreen {
        height: 55px;
    }
    @include main.lgScreen {
        height: 60px;
    }
}