@use "../NavigateMenu/sizes.scss" as *;
@use "../AddMenu/sizes.scss" as *;
@use "../EditBrowseMenu/sizes.scss" as *;
@use "../EditActiveMenu/sizes.scss" as *;
@use "../DeleteMenu/sizes.scss" as *;
@use "./sizes.scss" as *;

.menuContainer {
    width: 100%;
    height: 0;
}

.navigateContainer, .addContainer, .editBrowseContainer, .editActiveContainer, .deleteContainer {
    position: absolute;
    bottom: $offset;
}

.navigateContainer, .addContainer, .editBrowseContainer, .editActiveContainer {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.navigateContainer {
    @include navigateMenuWidth;
    @include navigateMenuHeight;
}

.addContainer {
    @include addMenuWidth;
    @include addMenuHeight;
}

.editBrowseContainer {
    @include editBrowseMenuWidth;
    @include editBrowseMenuHeight;
}

.editActiveContainer {
    @include editActiveMenuWidth;
    @include editActiveMenuHeight;
}

.deleteContainer {
    @include deleteMenuWidth;
    @include deleteMenuLeft;
}