@use "main";
@use "../../basic-components/Label/mixins.scss" as *;

.buttonContainer {
    padding: 5px;

    >svg {
        @include main.center-content;
        margin: 5px;
        cursor: pointer;
    }
}

.labelView {
    display: inline;
    margin: 0 10px;

    @include main.smMdScreen {
        @include labelHeaderSize(10px);
        font-size: 14px;
        line-height: 50px;
    }
    @include main.lgScreen {
        @include labelHeaderSize(12px);
        font-size: 16px;
        line-height: 70px;
    }
}

$spinner-size: 20px;
$spinner-thickness: 5px;

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: $spinner-size;
        height: $spinner-size;
        border: $spinner-thickness solid gray;
        border-top: $spinner-thickness solid black;
        border-radius: 50%;
        animation: rotate 2s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.exampleBlockquote {
    >p {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.exampleBlockquoteClosed {
    display: grid;
    grid-template-columns: 1fr auto;
}

.labelViewContainer {
    display: grid;
    grid-template-columns: 1fr auto;
}

.errorMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.errorButton {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 20px;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
}

.errorButtonIcon {
    font-size: 24px;
}

.errorButtonText {
    font-size: 12px;
}

.resetButtonEnabled {
    cursor: pointer;
}

.resetButtonDisabled {
    color: lightgray;
}

$smMdSvgFont: 14px;
$smMdTxtFont: 10px;
$lgSvgFont: 18px;
$lgTxtFont: 14px;

.resetButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    @include main.smMdScreen {
        font-size: $smMdTxtFont;

        >svg {
            font-size: $smMdSvgFont;
            margin-bottom: 2px;
        }
    }

    @include main.lgScreen {
        font-size: $lgTxtFont;

        >svg {
            font-size: $lgSvgFont;
            margin-bottom: 2px;
        }
    }
}

.navMenuContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    padding: 5px 0;
    width: 100%;

    @include main.smMdScreen {
        gap: 5px;
    }

    @include main.lgScreen {
        gap: 15px;
    }
}

.navMenu {
    @include main.lgScreen {
        width: 375px;
        height: 50px !important;

        svg {
            font-size: $lgSvgFont;
        }

        div {
            font-size: $lgTxtFont;
        }
    }

    @include main.smMdScreen {
        width: 275px;
        height: 40px !important;

        svg {
            font-size: $smMdSvgFont;
        }

        div {
            font-size: $smMdTxtFont;
        }
    }
}