.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item {
    border-radius: 5px;
    background-color: lightcoral;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    border: 2px solid red;
}

.selectedItem {
    opacity: 1 !important;
}