@use "main";

.modeSelector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.selected {
    color: black;
}

.notSelected {
    color: gray;
}

.modeSelectorItem {
    display: grid;
    grid-template-rows: 80% 20%;
}

.icon {
    font-size: 3rem;
}

.iconText {
    font-size: 12px;
}

.center {
    @include main.center-content;
}