@use "main";

.textBorder {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    overflow-y: auto;
    height: 100%;
}

.wordViewAssembly {
    display: grid;
    grid-template-rows: 1fr auto;
}

.disable {
    pointer-events: none;
}

.selectedItemParent {
    border-bottom: 2px solid black;
    padding: 2px;
    margin: 2px;
    margin-bottom: 20px;
}

.outline {
    box-shadow: 5px 5px 2.5px grey;
}

.disableDone {
    cursor: auto;
    color: grey;
}

.center {
    @include main.center-content;
}

.navMenu {
    margin: auto;
    max-width: 1000px;
}

.clearContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10%;
    width: 100%;
}

.enableClear {
    cursor: pointer;
}

.disableClear {
    cursor: default;
    pointer-events: none;
    color: grey;
}

$transition: 2000ms;

.fromLeftEnter {
    position: absolute;
    bottom: 0;
    transform: translateX(-110vw);
}

.fromRightEnter {
    position: absolute;
    bottom: 0;
    transform: translateX(110vw);
}

.enterActive {
    transform: translateX(0);
    transition: transform $transition;
}

.exit {
    position: absolute;
    bottom: 0;
    transform: translateX(0);
}

.fromLeftExitActive {
    transform: translateX(110vw);
    transition: transform $transition;
}

.fromRightExitActive {
    transform: translateX(-110vw);
    transition: transform $transition;
}

.children {
    position: relative;
    overflow-x: hidden;
}

.container {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.propertyEditor {
    height: 100% !important;
}

.editActiveContainer, .barContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.editPrompt {
    @include main.center-content;
    font-size: 24px;
}

.editActiveContainer {
    @include main.center-content;
    padding: 10px;
    position: sticky;
    bottom: 0;
    height: max(320px, 30vh);
}

.editActiveInnerContainer {
    width: min(700px, 100%);
    height: 100%;
}

.barContainer {
    display: inline-block;
}

.bottomContainer {
    display: inline-block;
    position: sticky;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
}