@use "main";

.labelSelector {
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.categorySelector {
    box-sizing: content-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
}

.categoryItem {
    display: inline-block;
    padding: 5px 5px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.categoryItemIcon {
    @include main.center-content;
    font-size: 30px;
}

.categoryItemText {
    @include main.center-content;
    font-size: 10px;
}

$es-margin: 5px;

.elementSelectorContainer {
    width: calc(100% - 2 * #{$es-margin});
    height: 100%;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 5px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 2px 0px grey;
}

.elementSelector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: auto;
}

.selectedCategoryItem {
    color: orangered;
}

$dot-height: 10px;
$half-dot-height: $dot-height / 2;

.containingCategoryItem::before {
    content: '';
    background-color: orangered;
    position: absolute;
    height: $dot-height;
    width: $dot-height;
    border-radius: 50%;
    left: -$half-dot-height;
    top: calc(50% - #{$half-dot-height});
}

.enabledCategoryItem {
    color: gray;
}

.disabledCategoryItem {
    pointer-events: none;
    color: lightgray;
}

.elementItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    text-align: center;
    overflow: hidden;
    user-select: none;
    color: grey;
    transition: box-shadow 0.2s;
    width: 70px;
    height: 70px;
    background-color: white;
}

.selectedElementItem {
    box-shadow: 2px 2px 3px grey;
}

.unselectedElementItem {
    box-shadow: 0 0 0 grey;
}

.elementItemHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

.elementItemText {
    font-size: 12px;
}

.add {
    position: absolute;
    background-color: red;
    color: white;
    top: 0;
    width: 100%;
    text-align: center;
    height: 20px;
}

.addEnter {
    transform: translateY(-110%);
}

.addEnterActive {
    transform: translateY(0%);
    transition: transform 400ms;
}

.addExit {
    display: none;
}