.modeSelector {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modeSelectorBar {
    width: 100%;
    box-shadow: 0 0 5px grey;
    z-index: 1;
}

$height: 10px;

.progress {
    width: 100%;
    height: $height;
    background-color: gray;
    margin-bottom: 3px;
}

.percentage {
    height: $height;
    background-image: linear-gradient(
        to right,
        hsl(252, 100%, 50%),
        hsl(313, 100%, 50%)
    );
    transition: width 0.3s;
}