@use "main";

.container {
    display: flex;
    flex-direction: row;
    user-select: none;
    justify-content: space-evenly;
}

.item {
    position: relative;
    font-size: 20px;
}

.enabledItem {
    color: black;
}

.disabledItem {
    color: gray;
    pointer-events: none;
}

.underline {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
}