@use "main";

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    height: 30px;
}

.back {
    cursor: pointer;
}

.stageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item {
    position: relative;
    cursor: pointer;
}

.enabledItem {
    color: black;
}

.disabledItem {
    color: gray;
    pointer-events: none;
}

.underline {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
}