@use "main";

$height: 40px;
$padding: 10px;

.property {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    * {
        background-color: white;
    }
}

.propertyText {
    display: inline-block;
    position: relative;
    font-size: $height;
    line-height: $height;
    padding: $padding;
    color: black;
    white-space: nowrap;
    z-index: 1;
}

.propertyCancel {
    display: inline-block;
    position: relative;
    font-size: $height;
    line-height: $height;
    padding: $padding;
    &:hover {
        color: red;
    }
}

.faTimes {
    @include main.center-content;
}