@use "main";

$addButtonSize: 50px;

.addButton {
    @include main.center-content;
    box-sizing: content-box;
    border: 1px solid black;
    width: $addButtonSize;
    height: $addButtonSize;
    border-radius: 50%;
    font-size: 2rem;
}

.addButtonDisabled {
    color: grey;
    pointer-events: none;
}