@use "main";

.clearButton {
    @include main.center-content;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid grey;
    box-shadow: 0 0 5px grey;
}

.icon {
    font-size: 2rem;
}

.label {
    font-size: 10px;
}