@use "main";
@use "./sizes.scss" as *;

.addMenu {
    @include addMenuHeight;
    display: grid;
    grid-template-columns: auto 1fr;
}

.categories {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    border: 1px solid black;
    border-radius: 3px;
    @include main.smMdScreen {
        padding-left: 5px;
        padding-right: 5px;
    }
    @include main.lgScreen {
        padding-left: 10px;
        padding-right: 10px;
    }
    margin-right: 5px;
}

.category {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.categoryIcon, .categoryChildren {
    display: inline-block;
}

.categoryIcon {
    @include main.smMdScreen {
        font-size: 18px;
    }
    @include main.lgScreen {
        font-size: 22px;
    }
}

.categoryChildren {
    position: relative;
    @include main.smMdScreen {
        font-size: 10px;
    }
    @include main.lgScreen {
        font-size: 14px;
    }
}

.categoryEnabled {
    cursor: pointer;
    color: black;
}

.categoryDisabled {
    pointer-events: none;
    color: grey;
}

.categoryUnderline {
    position: absolute;
    height: 3px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

$dotRadius: 8px;

.dot {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: $dotRadius * 2;
    height: $dotRadius * 2;
    border-radius: $dotRadius;
    background-color: orangered;
    transform: translateX(-50%);
}

.items {
    display: grid;
    @include main.smMdScreen {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
    @include main.lgScreen {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    align-content: start;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    gap: 5px;
    border: 1px solid black;
}

.item {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.itemContent {
    @include main.center-content;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
    padding: 5px;
}

@keyframes pulse {
    0% {
        background-color: white;
    }
    50% {
        background-color: #eee;
    }
    100% {
        background-color: white;
    }
}

.itemContentAnimate {
    animation: pulse 0.75s linear infinite;
}

.itemSymbol {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.itemHeader, .itemChildren {
    display: inline-flex;
}

.itemHeader {
    @include main.smMdScreen {
        font-size: 24px;
    }
    @include main.lgScreen {
        font-size: 32px;
    }
}

.itemChildren {
    position: relative;
    @include main.smMdScreen {
        font-size: 12px;
    }
    @include main.lgScreen {
        font-size: 14px;
    }
    text-align: center;
}

.itemUnderline {
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 5px;
    background-color: orangered;
}