@use "main";

.xToggleButton {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 7px;
    user-select: none;
    cursor: pointer;
    .text {
        @include main.center-content;
    }
    .xIcon {
        @include main.center-content;
        margin-left: 5px;
    }
}