@use "main";

$deleteMenuPromptSmMdWidth: 230px;
$deleteMenuPromptLgWidth: 340px;

@mixin deleteMenuPromptWidth {
    @include main.smMdScreen {
        width: $deleteMenuPromptSmMdWidth;
    }
    @include main.lgScreen {
        width: $deleteMenuPromptLgWidth;
    }
}

$deleteMenuPromptSmMdHeight: 20px;
$deleteMenuPromptLgHeight: 30px;

@mixin deleteMenuPromptHeight {
    @include main.smMdScreen {
        height: $deleteMenuPromptSmMdHeight;
    }
    @include main.lgScreen {
        height: $deleteMenuPromptLgHeight;
    }
}