@use "main";
@use "./sizes.scss" as *;

.labelViewNavBar {
    @include main.center-content;
    @include labelViewNavBarHeight;
    position: relative;
    border-top: 1px solid black;
}

.itemContainer {
    width: min(100%, 1100px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    @include main.center-content;
    width: 100%;
    height: 100%;
}

.itemContent {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.icon, .children {
    display: inline-block;
}

.icon {
    @include main.smMdScreen {
        font-size: 30px;
    }
    @include main.lgScreen {
        font-size: 40px;
    }
}

.children {
    @include main.smMdScreen {
        font-size: 12px;
    }
    @include main.lgScreen {
        font-size: 18px;
    }
}

.underline {
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: black;
}