@use "main";
@use "./sizes.scss" as *;

@mixin labelViewNavBarBase {
    @include main.center-content;
    position: relative;
    border-top: 1px solid black;
}

.labelViewNavBar {
    @include labelViewNavBarBase;
    @include labelViewNavBarHeight;
}

.labelViewNavBarPartial {
    @include labelViewNavBarBase;
    @include labelViewNavBarHeightPartial;

    & .icon {
        @include main.smScreen {
            font-size: 20px;
        }
        @include main.mdScreen {
            font-size: 25px;
        }
        @include main.lgScreen {
            font-size: 30px;
        }
    }
    & .children {
        @include main.smScreen {
            font-size: 10px;
        }
        @include main.mdScreen {
            font-size: 12px;
        }
        @include main.lgScreen {
            font-size: 18px;
        }
    }
    & .underline {
        @include main.smScreen {
            bottom: -3px;
            height: 3px;
        }
        @include main.mdScreen {
            bottom: -4px;
            height: 4px;
        }
    }
}

.itemContainer {
    width: min(100%, 1100px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    @include main.center-content;
    width: 100%;
    height: 100%;
}

.itemContent {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.icon, .children {
    display: inline-block;
}

.icon {
    @include main.smMdScreen {
        font-size: 30px;
    }
    @include main.lgScreen {
        font-size: 40px;
    }
}

@keyframes animate {
    0% {
        color: black;
    }
    50% {
        color: #0000;
    }
    100% {
        color: black;
    }
}

.iconAnimate {
    animation: animate main.$pulse-settings;
}

.children {
    @include main.smMdScreen {
        font-size: 12px;
    }
    @include main.lgScreen {
        font-size: 18px;
    }
}

.childrenAnimate {
    animation: animate main.$pulse-settings;
}

.underline {
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: black;
}