@use "main";

@mixin labelViewNavBarHeight {
    @include main.smMdScreen {
        height: 65px;
    }
    @include main.lgScreen {
        height: 90px;
    }
}

@mixin labelViewNavBarHeightPartial {
    @include main.smScreen {
        height: 45px;
    }
    @include main.mdScreen {
        height: 55px;
    }
    @include main.lgScreen {
        height: 65px;
    }
}