.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.canvasHiZ {
    z-index: 1;
}

.fadeIn, .fadeOut {
    position: absolute;
}

.fadeIn {
    z-index: 1;
    background-color: white;
}

.fadeOut {
    z-index: 1;
    background-color: white;
}

.showFadeIn, .showFadeOut {
    width: 100%;
    height: 100%;
}