.canvas {
    position: absolute;
    background-color: white;
}

.canvasHiZ {
    z-index: 1;
}

.fadeIn, .fadeOut {
    position: absolute;
}

.fadeIn {
    z-index: 1;
    width: 500px;
    height: 500px;
    background-color: white;
}

.fadeOut {
    z-index: 1;
    background-color: white;
}