.canvas, .fadeIn, .fadeOut, .fadeInDebug, .fadeOutDebug {
    position: absolute;
}

.canvas {
    width: 500px;
    height: 500px;
    background-color: white;
}

.canvasHiZ {
    z-index: 1;
}

.fadeIn, .fadeOut {
    // left: 0;
    // background-color: white;
}

.fadeIn {
    z-index: 2;
    width: 500px;
    height: 500px;
    background-color: white;
}

.fadeOut {
    z-index: 2;
    background-color: white;
}

.fadeInDebug {
    top: 0;
    left: 0;
    z-index: 1;
    width: 500px;
    height: 500px;
}

.fadeOutDebug {
    top: 0;
    left: 500px;
    z-index: 3;
}

.fadeOutHide {
    width: 0;
    height: 0;
}

.fadeOutShow {
    width: 500px;
    height: 500px;
}