.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    height: 2.2rem;
}

.back {
    cursor: pointer;
}

.parentText {
    margin-left: 10px;
    user-select: none;
}