@use "main";

.wordViewCategory {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    @include main.center-content;
    height: 2.5rem;
    user-select: none;
}

.enableClick {
    cursor: pointer;
}

.disableClick {
    cursor: default;
    pointer-events: none;
}

.selectedItem {
    .item {
        font-weight: bold;
    }
}

.progressBar {
    transition: grid-template-columns 0.3s;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}