@use "main";

@mixin editActiveMenuWidth {
    @include main.smMdScreen {
        width: min(400px, calc(100% - 5px));
    }
    @include main.lgScreen {
        width: min(600px, calc(100% - 5px));
    }
}

@mixin editActiveMenuHeight {
    @include main.smMdScreen {
        height: 200px;
    }
    @include main.lgScreen {
        height: 300px;
    }
}

@mixin editActiveMenuHeightPartial {
    @include main.smMdScreen {
        height: 150px;
    }
    @include main.lgScreen {
        height: 250px;
    }
}