@use "main";

$height: 18px;
$padding: 10px;

.property {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    user-select: none;
}

$default: rgb(231, 231, 231);
.default {
    background-color: $default;
    &:hover {
        background-color: lighten($default, 10%);
    }
}

$satisfied: rgb(0, 107, 0);
.satisfied {
    background-color: $satisfied;
    &:hover {
        background-color: lighten($satisfied, 10%);
    }
}

$required: rgb(175, 76, 76);
.required {
    background-color: $required;
    &:hover {
        background-color: lighten($required, 10%);
    }
}

.propertyText {
    display: inline-block;
    font-size: $height;
    line-height: $height;
    color: black;
    white-space: nowrap;
}

.hasSelect {
    cursor: pointer;
}

.noDelete {
    padding: $padding;
}

.withDelete {
    padding: $padding calc(#{$padding} / 2) $padding $padding;
}

.propertyDelete {
    display: inline-block;
    font-size: $height;
    line-height: $height;
    padding: $padding $padding $padding calc(#{$padding} / 2);
    cursor: pointer;
    &:hover {
        color: red;
    }
}

.faTimes {
    @include main.center-content;
}