@use "main";

$smMdHeight: 12px;
$lgHeight: 18px;
$smMdPadding: 5px;
$lgPadding: 10px;

@mixin withDeletePadding($padding) {
    padding: $padding calc(#{$padding} / 2) $padding $padding;
}

@mixin propertyDeletePadding($padding) {
    padding: $padding $padding $padding calc(#{$padding} / 2);
}

.property {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    user-select: none;
}

$default: rgb(231, 231, 231);
.default {
    background-color: $default;
    &:hover {
        background-color: lighten($default, 10%);
    }
}

@keyframes default {
    0% {
        background-color: $default;
    }
    50% {
        background-color: lighten($default, 10%);
    }
    100% {
        background-color: $default;
    }
}

.defaultAnimate {
    animation: default main.$pulse-settings;
}

$satisfied: rgb(0, 107, 0);
.satisfied {
    background-color: $satisfied;
    &:hover {
        background-color: lighten($satisfied, 10%);
    }
}

@keyframes satisfied {
    0% {
        background-color: $satisfied;
    }
    50% {
        background-color: lighten($satisfied, 10%);
    }
    100% {
        background-color: $satisfied;
    }
}

.satisfiedAnimate {
    animation: satisfied main.$pulse-settings;
}

$required: rgb(175, 76, 76);
.required {
    background-color: $required;
    &:hover {
        background-color: lighten($required, 10%);
    }
}

@keyframes required {
    0% {
        background-color: $required;
    }
    50% {
        background-color: lighten($required, 10%);
    }
    100% {
        background-color: $required;
    }
}

.requiredAnimate {
    animation: required main.$pulse-settings;
}

.propertyText, .propertyDelete {
    display: inline-block;
    @include main.smMdScreen {
        font-size: $smMdHeight;
        line-height: $smMdHeight;
    }
    @include main.lgScreen {
        font-size: $lgHeight;
        line-height: $lgHeight;
    }
}

.propertyText {
    color: black;
    white-space: nowrap;
}

.hasSelect {
    cursor: pointer;
}

.noDelete {
    @include main.smMdScreen {
        padding: $smMdPadding;
    }
    @include main.lgScreen {
        padding: $lgPadding;
    }
}

.withDelete {
    @include main.smMdScreen {
        @include withDeletePadding($smMdPadding);
    }
    @include main.lgScreen {
        @include withDeletePadding($lgPadding);
    }
}

.propertyDelete {
    @include main.smMdScreen {
        @include propertyDeletePadding($smMdPadding);
    }
    @include main.lgScreen {
        @include propertyDeletePadding($lgPadding);
    }
    cursor: pointer;
    &:hover {
        color: red;
    }
}

.faTimes {
    @include main.center-content;
}