@use "main";

.selectedItemDisplay {
    display: grid;
    grid-template-columns: auto 2rem;
    padding: 2px;

    .displayItems {
        height: 30px;
        display: flex;
        flex-direction: row;
    }
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    padding: 7px;
}

.cancelButton {
    @include main.center-content;
    cursor: pointer;
}

.arrow {
    @include main.center-content;
}