@use "main";

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 500px;
}

.editorContainer {
    @include main.center-content;
}

.editor {
    text-align: left;
    border: 1px solid black;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow-y: auto;
}

.errorListContainer {
    display: flex;
}

.errorList {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow-y: auto;
}