@use "main";
@use "./sizes.scss" as *;

.deleteMenuButton {
    @include main.center-content;
    @include deleteMenuButtonWidth;
    @include deleteMenuButtonHeight;
    border: 1px solid black;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}

.content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    @include main.smScreen {
        font-size: 24px;
    }
    @include main.mdScreen {
        font-size: 30px;
    }
    @include main.lgScreen {
        font-size: 50px;
    }
}

.children {
    @include main.smScreen {
        font-size: 10px;
    }
    @include main.mdScreen {
        font-size: 12px;
    }
    @include main.lgScreen {
        font-size: 16px;
    }
}