@use "main";

$deleteMenuButtonSmDiameter: 75px;
$deleteMenuButtonMdDiameter: 100px;
$deleteMenuButtonLgDiameter: 150px;

@mixin deleteMenuButtonWidth {
    @include main.smScreen {
        width: $deleteMenuButtonSmDiameter;
    }
    @include main.mdScreen {
        width: $deleteMenuButtonMdDiameter;
    }
    @include main.lgScreen {
        width: $deleteMenuButtonLgDiameter;
    }
}

@mixin deleteMenuButtonHeight {
    @include main.smScreen {
        height: $deleteMenuButtonSmDiameter;
    }
    @include main.mdScreen {
        height: $deleteMenuButtonMdDiameter;
    }
    @include main.lgScreen {
        height: $deleteMenuButtonLgDiameter;
    }
}