@use "main";

$sm-diameter: 100px;
$lg-diameter: 150px;

@mixin deleteMenuButtonWidth {
    @include main.smMdScreen {
        width: $sm-diameter;
        height: $sm-diameter;
    }
    @include main.lgScreen {
        width: $lg-diameter;
        height: $lg-diameter;
    }
}

@mixin deleteMenuButtonHeight {
    @include main.smMdScreen {
        width: $sm-diameter;
        height: $sm-diameter;
    }
    @include main.lgScreen {
        width: $lg-diameter;
        height: $lg-diameter;
    }
}