@use "main";

$deleteMenuButtonSmMdDiameter: 100px;
$deleteMenuButtonLgDiameter: 150px;

@mixin deleteMenuButtonWidth {
    @include main.smMdScreen {
        width: $deleteMenuButtonSmMdDiameter;
        height: $deleteMenuButtonSmMdDiameter;
    }
    @include main.lgScreen {
        width: $deleteMenuButtonLgDiameter;
        height: $deleteMenuButtonLgDiameter;
    }
}

@mixin deleteMenuButtonHeight {
    @include main.smMdScreen {
        width: $deleteMenuButtonSmMdDiameter;
        height: $deleteMenuButtonSmMdDiameter;
    }
    @include main.lgScreen {
        width: $deleteMenuButtonLgDiameter;
        height: $deleteMenuButtonLgDiameter;
    }
}